<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <title>订单管理</title>

    <link th:include="common::com_css">

</head>

<body class="sticky-header">
<section>
    <div th:replace="common :: #com_leftmenu"></div>
    <div class="main-content">
        <div th:replace="common :: #com_headermenu"></div>
        <div class="wrapper">
            <div class="col-sm-12">
                <div class="adv-table editable-table">
                    <section id="no-more-tables">
                        <div th:replace="common :: #com_alert"></div>
                        <table class="table table-bordered table-striped table-condensed cf" id="editable-sample">
                            <thead class="cf">
                            <tr>
                                <th style="text-align: center">订单号</th>
                                <th style="text-align: center">用户id</th>
                                <th style="text-align: center">排片id</th>
                                <th style="text-align: center">选座情况</th>
                                <th style="text-align: center">订单时间</th>
                                <th style="text-align: center">订单总价</th>
                                <th style="text-align: center">订单状态</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="o:${orderList}" style="text-align: center">
                                    <td data-title="订单号">
                                        <span th:text="${o.orderNum}"></span>
                                    </td>
                                    <td data-title="用户id" style="text-align: center">
                                        <span th:text="${o.accountId}"></span>
                                    </td>
                                    <td data-title="排片id">
                                        <span th:text="${o.rowpieceId}"></span>
                                    </td>
                                    <td data-title="选座情况">
                                        <span th:text="${o.sitNum}"></span>
                                    </td>
                                    <td data-title="订单时间">
                                        <span th:text="${o.orderTime}"></span>
                                    </td>
                                    <td data-title="订单总价">
                                        <span th:text="${o.orderPrice}"></span>
                                    </td>
                                    <td data-title="订单状态" th:switch="${o.orderState}">
                                        <span class="label label-warning" th:case="0">未支付</span>
                                        <span class="label label-success" th:case="1">已支付</span>
                                        <span class="label label-danger" th:case="2">交易取消</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form id="delEmpRorm" method="post">
                            <input type="hidden" id="d_id" name="id">
                        </form>
                    </section>
                </div>
            </div>

        </div>
        <footer class="sticky-footer">
            2021 &copy; <a href="https://github.com/ZhangHeng0805" target="_blank">星曦向荣</a>
        </footer>
    </div>
</section>

<div th:include="common::#com_js"></div>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
    $(".d1").click(function () {
        var d=window.confirm("确定删除此排片？");
        if(d) {
            $("#d_id").attr("value", $(this).attr("put_id"));
            $("#delEmpRorm").attr("action", $(this).attr("put_url")).submit();
            return false;
        }
    });
</script>
</body>
</html>