<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择排片</title>
    <link th:include="common::com_css">
</head>
<body>
<div th:replace="common::#member_leftmenu"></div>
<div class="main-content">
    <div th:replace="common::#member_headermenu"></div>
    <div th:replace="common::#com_alert"></div>
    <div class="col-md-4" th:if="${rowList}!=null" th:each="r:${rowList}">
        <section class="panel">
            <header class="panel-heading">
                《<span th:text="${r.filmName}"></span>》
                <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
            </span>
            </header>
            <div class="panel-body">

                    <p>影厅名称：<span class="text-success" th:text="${r.screensName}"></span></p>
                    <p>座位情况：<span class="text-primary" th:text="${r.sitState}"></span></p>
                    <p>放映时间：<span class="text-warning" th:text="${r.playingTime}"></span></p>
                <p>票价：<span class="label label-info"><span class="fa fa-yen"></span><span th:text="${r.fare}"></span></span></p>
                    <p><a th:href="@{chooseSitPage+'?rowPieceId='+${r.id}}" class="btn btn-success">去选座</a></p>

            </div>

        </section>
    </div>

</div>
<div th:replace="common::#com_js"></div>
</body>
</html>