<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择座位</title>
    <link th:include="common::com_css">
</head>
<body>
<div class="main-content">
    <div class="header-section">
        <div th:if="${session.member}!=null" class="col-lg-10" style="text-align: left">
            <div class="col-lg-1"style="text-align: center;margin-top: 2px">
                <img th:src="@{'/fileload/download/'+${session.member.avatar}}" style="height: 50px; padding:3px;border-radius: 5px;border: #98fdf4 solid 1.5px">
            </div>
            <div class="col-lg-10" style="height: 50px;">
                <div class="row" style="margin-bottom: 2px;margin-top: 2px">
                    <p class="label label-success text-center">账号：<span th:text="${session.member.account}"></span></p>
                    <a th:href="@{/exit_member}">注销登录</a>
                </div>
                <div class="row">
                    <p class="label label-info text-center" >昵称：<span th:text="${session.member.nickname}"></span></p>
                    <p class="label label-primary text-center" >余额：<span class="fa fa-yen"></span><span th:text="${session.member.balance}"></span></p>
                </div>
            </div>
            <div class="col-lg-1" style="height: 50px ;margin-top: 5px">
                <a class="btn btn-warning text-center">去充值</a>
            </div>
        </div>
    </div>
    <div th:replace="common::#com_alert"></div>
    <div th:if="${rowPiece}!=null">
        <input type="hidden" id="s1" th:value="${rowPiece.sitState}" >
        <section class="panel">
            <form method="post" th:action="@{/chooseSit}">
                <input name="accountId" type="hidden" th:value="${session.member.id}">
                <input name="rowpieceId" type="hidden" th:value="${rowPiece.id}">
                <header class="panel-heading">
                    <label class="label label-info" id="label-info">请选择座位：</label>
                    <span class="tools pull-right">
                <button class="btn btn-search" onclick="writeHtml();return false;">清空选择</button>
             </span>
                </header>
                <div class="panel-body">
                    <div class="row col-lg-10" style="padding: 0px 15px;margin: 0px;font-size: 15px">
                        <p>电影名称：<span th:text="${rowPiece.filmName}"></span></p>
                    </div>
                    <div class="row col-lg-10"style="padding: 0px 15px;margin: 0px;font-size: 15px">
                        <p>播放影厅：<span th:text="${rowPiece.screensName}"></span></p>
                    </div>
                    <div class="row col-lg-10"style="padding: 0px 15px;margin: 0px;font-size: 15px">
                        <p>播放时间：<span th:text="${rowPiece.playingTime}"></span></p>
                    </div>
                    <div class="row col-lg-10"style="padding: 0px 15px;margin: 0px;font-size: 15px">
                        <input type="hidden" id="fare" th:value="${rowPiece.fare}">
                        <p>票价：
                            <span class="text-danger">
                                <span class="fa fa-yen"></span>
                                <span th:text="${rowPiece.fare}"></span>
                            </span>
                            <span id="sit_num" class="text-info"></span>
                        </p>
                    </div>
                    <div class="row col-lg-10" >
                        <input type="hidden" name="sitNum" id="sitNum">
                        <div class="col-sm-12 col-md-12 col-lg-12" id="panel-body"  >
                        </div>
                    </div>
                    <div class="col-lg-10 row" style="padding: 15px 15px;margin: 0px;">
                        <input name="orderPrice" id="orderPrice" type="hidden">
                        <input class="btn btn-primary" id="sub" type="submit" value="提交订单">
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div th:if="${rowPiece}==null and ${msg.code}==200">
        <div class="row" style="text-align: center">
            <a class="btn btn-success">去支付</a>
            <a class="btn btn-warning">取消订单</a>
        </div>
    </div>
</div>


<div th:replace="common::#com_js"></div>
<script src="/static/js/myJs/seating_info_utils.js"></script>
</body>
</html>