<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共部分</title>
    <div th:fragment="com_css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="ThemeBucket">
        <link rel="shortcut icon" href="#" type="image/png">
        <link th:href="@{/static/css/bootstrap.min.css}"rel="stylesheet">
        <link th:href="@{/static/css/style.css}"rel="stylesheet">
        <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
        <link th:href="@{/static/css/bootstrap-reset.css}" rel="stylesheet">


        <!--pickers css-->
        <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-datepicker/css/datepicker-custom.css" />
        <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-timepicker/css/timepicker.css" />
        <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-colorpicker/css/colorpicker.css" />
        <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
        <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-datetimepicker/css/datetimepicker-custom.css" />

        <link href="/static/css/table-responsive.css" rel="stylesheet" />
        <!--文件上传-->
        <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap-fileupload.min.css}" />


    </div>
</head>
<body>
<!--管理员左侧菜单-->
<div id="com_leftmenu" class="left-side sticky-left-side">
    <div class="left-side-inner">
        <!--左菜单-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a th:href="@{/}" target="_blank"><i class="fa fa-home"></i><span>电影首页</span></a></li>
            <hr>
            <li th:class="${active}=='1'?'active':''"><a th:href="@{/allFilmPage}"><i class="fa fa-bars"></i><span>电影列表</span></a></li>
            <li th:class="${active}=='2'?'active':''"><a th:href="@{/addFilmPage}"><i class="fa fa-plus"></i> <span>添加电影</span> </a></li>
            <hr>
            <li th:class="${active}=='3'?'active':''"><a th:href="@{/allScreensPage}"><i class="fa fa-bars"></i><span>影厅列表</span></a></li>
            <li th:class="${active}=='4'?'active':''"><a th:href="@{/addScreensPage}"><i class="fa fa-plus"></i> <span>添加影厅</span> </a></li>
            <hr>
            <li th:class="${active}=='5'?'active':''"><a th:href="@{/allRowPiecePage}"><i class="fa fa-bars"></i><span>排片列表</span></a></li>
            <li th:class="${active}=='6'?'active':''"><a th:href="@{/addRowPiecePage}"><i class="fa fa-plus"></i> <span>添加排片</span> </a></li>
            <hr>
            <li th:class="${active}=='7'?'active':''"><a th:href="@{/allOrderPage}"><i class="fa fa-bars"></i> <span>订单列表</span> </a></li>
            <hr>
            <li th:class="${active}=='8'?'active':''"><a th:href="@{/allMemberPage}"><i class="fa fa-bars"></i> <span>会员列表</span> </a></li>
            <hr>
            <li><a th:href="@{/exit_admin}"><i class="fa fa-sign-in"></i> <span>重新登录</span></a></li>
        </ul>
    </div>
</div>

<!--会员左侧菜单-->
<div id="member_leftmenu" class="left-side sticky-left-side">
    <div class="left-side-inner">
        <div class="row" style="text-align: center">
            <div class="col-lg-12" style="margin-top: 15px">
                <img th:src="@{'/fileload/download/'+${session.member.avatar}}" style="height: 100px; padding:3px;border-radius: 5px;border: #98fdf4 solid 1.5px">
            </div>
            <div class="col-lg-12" style="margin-top: 15px">
                <label class="text-primary" th:text="${session.member.nickname}"></label>
            </div>
            <div class="col-lg-12" style="margin-top: 15px">
                <span class="lable label-info" style="padding: 5px;border-radius: 5px">
                    余额：<span class="fa fa-yen"></span><span th:text="${session.member.balance}"></span>
                </span>
            </div>
        </div>
        <!--左菜单-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a th:href="@{/}"><i class="fa fa-home"></i><span>电影首页</span></a></li>
            <hr>
            <li th:class="${active}=='1'?'active':''"><a th:href="@{/myOrderPage}"><i class="fa fa-bars"></i><span>订单列表</span></a></li>
            <li th:class="${active}=='2'?'active':''"><a th:href="@{/RechargePage}"><i class="fa fa-plus"></i> <span>充值金额</span> </a></li>
            <hr>
            <li><a th:href="@{/exit_member}"><i class="fa fa-sign-in"></i> <span>重新登录</span></a></li>
        </ul>
    </div>
</div>

<!--管理员顶部导航栏-->
<div id="com_headermenu" class="header-section">
    <div class="col-lg-10" style="text-align: right;margin-bottom: 15px;margin-top: 15px">
        <span class="label label-info" style="margin: 10px">姓名：<span th:text="${session.admin.name}"></span></span>
        <span class="label label-success" style="margin: 10px">账号：<span th:text="${session.admin.account}"></span></span>
    </div>
</div>

<!--会员顶部导航栏-->
<div id="member_headermenu" class="header-section">
    <div th:if="${session.member}!=null" class="col-lg-10" style="text-align: left">
        <div class="col-lg-1"style="text-align: center;margin-top: 2px">
            <img th:src="@{'/fileload/download/'+${session.member.avatar}}" style="height: 50px; padding:3px;border-radius: 5px;border: #98fdf4 solid 1.5px">
        </div>
        <div class="col-lg-8" style="height: 50px;">
            <div class="row" style="margin-bottom: 2px;margin-top: 2px">
                <p class="label label-success text-center">账号：<span th:text="${session.member.account}"></span></p>
                <a th:href="@{/exit_member}">注销登录</a>
            </div>
            <div class="row">
                <p class="label label-info text-center" >昵称：<span th:text="${session.member.nickname}"></span></p>
                <p class="label label-primary text-center" >余额：<span class="fa fa-yen"></span><span th:text="${session.member.balance}"></span></p>
            </div>
        </div>
        <div class="col-lg-3" style="height: 50px ;margin-top: 5px">
            <a class="btn btn-search text-center" th:href="@{/myOrderPage}">我的订单</a>
            <a class="btn btn-warning text-center" th:href="@{/RechargePage}">去充值</a>
        </div>
    </div>
</div>
<!--首页顶部导航栏-->
<div id="member_header" class="col-lg-10">
    <div th:if="${session.member}!=null" style="text-align: left">
        <blockquote class="col-lg-1"style="text-align: center;margin-bottom: 0px">
            <img th:src="@{'/fileload/download/'+${session.member.avatar}}" style="height: 50px; padding:3px;border-radius: 5px;border: #98fdf4 solid 1.5px">
        </blockquote>
        <blockquote class="col-lg-11"style="margin-bottom: 0px">
            <p class="label label-info" >昵称：<span th:text="${session.member.nickname}"></span></p><br>
            <p class="label label-success">账号：<span th:text="${session.member.account}"></span></p>
            <a th:href="@{/exit_member}">注销登录</a>
        </blockquote>
    </div>
</div>
<div id="com_alert" th:if="${msg}!=null" th:switch="${msg.code}">
    <div th:case="200" class="alert alert-success fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: green" th:utext="${msg.message}"></label>
    </div>
    <div th:case="100" class="alert alert-info fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label th:text="${msg.message}"></label>
    </div>
    <div th:case="500" class="alert alert-danger fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: red" th:text="${msg.message}"></label>
    </div>
    <div th:case="404" class="alert alert-warning fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: orange" th:text="${msg.message}"></label>
    </div>
</div>

<div id="com_js">
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
    <script th:src="@{/static/js/scripts.js}"></script>
    <script th:src="@{/static/js/myJs/input.js}"></script>
    <script src="/static/js/modernizr.min.js"></script>

    <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nicescroll.js"></script>

    <script type="text/javascript" src="/static/js/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static/js/data-tables/DT_bootstrap.js"></script>
    <script src="/static/js/editable-table.js"></script>

    <script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.min.js}"></script>
    <!--pickers plugins-->
    <script type="text/javascript" src="/static/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <!--pickers initialization-->
    <script src="/static/js/pickers-init.js"></script>
</div>
</body>
</html>